@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh; /* it's not necessary for this application (height: 100vh; is for .App) */
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  /* instaed of */
  /* justify-content: center; */
  /* align-items: center; */
  /* (instead of this added the #root to use the flexbox) */
  /* and added the #root */

  background-color: #efefef;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 98%;
  height: 100vh; /* 100 units viewpoint units - we need it - it's "important" */ /* it will show the scroll bar (if for item is set "overflow-y: auto;" - see ".Home") and it can shrink the page*/
  /* height: 100%; */
  /* max-width: 800px; */
  display: flex;
  flex-direction: column; /*  it begins to stack everything up on top of each other where we have the header, nav, the different main elements in the area and the footer */
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo1 {
  height: 10vmin;
  pointer-events: none;
}

.App-logoZS {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header,
.Footer {
  width: 100%;
  background-color: #ebc505; /* #66d8f5; */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 1.5rem;
}

.Header svg {
  font-size: 2rem;
}

.Footer {
  padding: 0.75rem;
  display: grid; /* to display the content in center with the "place-content: center;"*/
  place-content: center;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.searchForm {
  width: 80%;
  padding: 1rem 0 0 0.75rem;
}

.searchForm input[type="text"] {
  font-family: "Open Sans", sans-serif;
  width: 90%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.25rem;
}

.Nav li {
  padding: 1rem;
}

.Nav li:hover,
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
}

.Nav li:hover,
.Nav li:focus,
.Nav li:hover a,
.Nav li:focus a {
  background-color: #eee;
  color: #333;
}

.Nav li:hover a,
.Nav li:focus a {
  cursor: pointer;
}

.Home,
.Posts,
.Projects,
.NewProject,
.ProjectPage,
.NewPost,
/* .EditPost, */
.PostPage,
.Download,
/* .About, */
.Missing {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #c2c739b4;
}

.About {
  display: flex;
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  flex-direction: row; /* This arranges the columns side by side */
  justify-content: space-between; /* Adjusts spacing between columns */
  background-color: #c2c739b4;
}

/* Applying Flexbox Styles: In our CSS file, we apply Flexbox properties to the container and columns. */
.About .column {
  flex: 1; /* This makes each column take up equal space */
  padding: 10px;
  border: 1px solid #ccc; /* Optional: for visual separation */
}

/* Responsive Design: To make the layout responsive, we can use media queries to stack the columns on smaller screens. */
@media (max-width: 768px) {
  .About {
    flex-direction: column; /* Stacks columns vertically on small screens */
  }
}

.NewPost {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #c2c739b4;
}
.project,
.post {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

/* .Home  */
.Projects .project a {
  text-decoration: none;
}

/* .Home  */
.Posts .post a {
  text-decoration: none;
}

/* .Home  */
.Projects.project a,
/* .Home  */
.Posts .post a,
/* .Home  */
.Projects .project a:visited,
/* .Home  */
.Posts .post a:visited {
  color: #000;
}

.project:first-child {
  margin-top: 0;
}

.post:first-child {
  margin-top: 0;
}

.project:last-child {
  border-bottom: none;
}

.post:last-child {
  border-bottom: none;
}

.projectDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.postDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.projectBody {
  margin: 1rem 0;
}

.postBody {
  margin: 1rem 0;
}

.newPostForm {
  display: flex;
  flex-direction: column;
}

.newPostForm label {
  margin-top: 1rem;
}

.newPostForm input[type="text"],
.newPostForm textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.newPostForm textarea {
  height: 100px;
}

.newPostForm button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.Missing h2,
.Missing h3,
.ProjectPage h2,
.PostPage h2,
.ProjectPage h3,
.PostPage h3,
.Missing p,
.PostPage p,
.NewPost p,
/* .EditPost p, */
/* .EditPost h3, */
.ProjectPage p {
  /* margin-bottom: 1rem; */
  margin-top: 1rem;
}

.PostPage button,
.ProjectPage button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  /* background-color: red; */
  color: #fff;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
}

.editButton {
  background-color: #333;
}

.statusMsg {
  margin-top: 2rem;
}

@media only screen and (min-width: 610px) {
  html {
    font-size: 22px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover,
  .Nav li:focus,
  .Nav li:hover a,
  .Nav li:focus a {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 50%;
    padding: 0.5rem 0;
  }

  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .newPostForm textarea {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .Header svg {
    font-size: 3rem;
  }
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.project {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.project :first-child {
  margin: 0;
}

.project input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.project input[type="checkbox"]:focus + label {
  /* text-decoration: underline; */
  color: black;
}

/* more styling just for label */
.project > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.project svg {
  /* icon used for open */
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.project svg:focus,
.project svg:hover {
  color: rgb(54, 240, 100);
  outline: none; /* to hide the border */
}

button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  margin-right: 0.5rem;
  color: mediumblue;
  cursor: pointer;
}

button:focus,
button:hover {
  color: white;
  background-color: limegreen;
  outline: none;
}
